body {
  background-color: #f5f5f5;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

h1 {
  text-align: center;
  color:black
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color:pink;
  color: #fff;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color:orchid;
}

.message {
  text-align: center;
  margin-bottom: 10px;
}

.disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
